﻿@model IEnumerable<Gallery.Models.Photo>

    <h2>Przegląd obrazów</h2>
    @*<p>
        @Html.ActionLink("Dodaj obraz", "Create")
    </p>*@

        @foreach (var item in Model)
        {
        <div class="row">
            <img class="thumbnail col-md-3" src="@Html.DisplayFor(modelItem => item.ImageUrl)" title="@Html.DisplayFor(modelItem => item.Title)" alt="@Html.DisplayFor(modelItem => item.AltText)" />
            <div class="col-md-6">
                @Html.DisplayFor(modelItem => item.Title)
                <br />
                @Html.DisplayFor(modelItem => item.ImageUrl)
                <br />
                @Html.DisplayFor(modelItem => item.Caption)
                <br />
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </div>
            <div class="col-md-6">
                @if (User.IsInRole("Admin"))
                {
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>*@
                @Html.ActionLink("Podgląd", "Details", new { id = item.Id }) <span>|</span>
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                }
            </div>


        </div>
}

