﻿body {
    background-image: url("../img/191474-top-background-gradient-2880x1800.jpg");
    background-repeat: no-repeat;
    /*background-size: cover;*/
    color: #f4f4f4;
}
    body > #navigation {
        background: #000;
        border: none;
    }

body > #navigation *{
    color: #f4f4f4;
}

body h2  {
    padding-top: 40px;
    padding-bottom: 20px;
}
